body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: yellow; /* при невозможности загрузки изображения */
  background-image: url("BG.png");
  background-size: cover; /* растягивать на весь экран */
  background-position: center; /* центрировать */
  background-repeat: no-repeat; /* не повторять */
  min-height: 100vh;
  overflow-x: hidden;
}

/* Шапка */
header {
  position: relative;
  padding: 20px;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.8); */
}
#diploma {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  cursor: zoom-in;
}

/* Основной блок */
#main {
  padding: 20px;
  /* background-color: rgba(
          255,
          255,
          255,
          0.8
        ); */
}

/* Видео и тексты */
#videoviz {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Специальные выделения */
#important {
  font-weight: bold;
  font-size: 1.2em;
}

/* Список */
ol {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* Ссылки */
a {
  word-break: break-all;
  color: blue;
  text-decoration: underline;
}

/* Секция контактов и футер */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 20px;
}
#contwrap {
  flex: 1 1 200px;
  text-align: center;
}
#contacts,
#mymail {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
}
#atention,
#wait {
  flex: 1 1 200px;
  text-align: center;
  font-size: 1.5em;
  margin: 10px 0;
}

/* Анимация мигалки */
@keyframes blinkingText {
  0% {
    color: red;
  }
  49% {
    color: transparent;
  }
  50% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: red;
  }
}
.blink {
  font-size: 1.5em;
  animation: blinkingText 0.8s infinite;
}
.blink2 {
  font-size: 1.2em;
  animation: blinkingText 0.8s infinite;
}

/* Медіазапити для мобільних і планшетів */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  #videoviz {
    font-size: 1em;
  }

  #important {
    font-size: 1em;
  }

  ol {
    padding-left: 15px;
  }

  /* Сховаємо або змінимо розмір */
  #atention {
    font-size: 1.2em;
  }
  #wait {
    font-size: 1.2em;
  }
}
